#cabecalho {
    height: 200px;
    margin: 10px;
    padding: 5px;
}
.aba {
    height: 50px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border-style: inset;
    text-transform: uppercase;
}
#div-formulario {
    margin: 10px;
    padding: 5px;
}
#select-tipo-de-evento {
    width: 50%;
}
#button-novo-tipo-de-evento {
    vertical-align: top;
}
.div-elemento-de-formulario {
    margin: 10px;
}